
// Variables
@import 'variables';

@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.font-dancing-script-regular {
  font-family: 'DancingScript-Regular';
}

html, body {
  background-color: #fff;
  color: $cs-gray;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  height: 100vh;
  margin: 0;
}

.full-height {
  height: 100vh;
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.position-ref {
  position: relative;
}

.top-right {
  position: absolute;
  right: 10px;
  top: 18px;
}
.top-left {
  position: absolute;
  left: 10px;
  top: 18px;
}

.content {
  text-align: center;
}

.title {
  font-size: 84px;
}

.links > a {
  color: #636b6f;
  margin: 0 25px;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: .1rem;
  text-decoration: none;
  text-transform: uppercase;
}

.m-b-md {
  margin-bottom: 30px;
}

a {
  color: $cs-gray;
  display: inline-block;
  text-decoration: none !important;
  background-image: linear-gradient(to right, black, black);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size .5s, color .5s;
  
  &:hover {
      color: black;
      background-size: 100% 2px;
  }
}